* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-leckerli: "Leckerli One", cursive;
  --font-family-baloo-two: "Baloo 2", sans-serif;
  --font-family-open-sans: "Open Sans", sans-serif;

  --h1: 400 2.5rem/100% var(--font-family-leckerli);
  --h2: 900 1.75rem/100% var(--font-family-baloo-two);
  --h3: 900 1.125rem/100% var(--font-family-baloo-two);

  --text: 400 1rem/100% var(--font-family-open-sans);
  --text-sm: 400 0.875rem/100% var(--font-family-open-sans);
  --text-xs: 400 0.75rem/100% var(--font-family-open-sans);

  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  --danger: #ff5959;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;
}

img {
  max-width: 100%;
  height: auto;
}

#app {
  display: grid;
  grid-template-columns: 32.78% 67.21%;

  gap: 20px;

  padding: 1.25rem;

  height: 100%;

  background-color: var(--shape-background);
  color: var(--text-body);
}

aside {
  max-width: 25rem;
  margin-left: auto;

  & .aside-container {
    position: relative;

    & > img {
      border-radius: 0.75rem;
    }

    .c-logo {
      position: absolute;
      top: 0;
      padding: 2rem;

      & > img {
        max-width: 2.867rem;
        height: 3rem;
        object-fit: contain;
      }

      h1 {
        color: var(--pink);
        padding-block: 1rem;
      }

      p {
        color: var(--text-heading);
        font-weight: 100;
      }
    }
  }
}

main {
  padding: 5rem 8.125rem;

  background-color: var(--shape-body);
  border-radius: 0.75rem;

  max-width: 51.25rem;

  & .main-container {
    width: 100%;

    margin-right: auto;

    & h2 {
      color: var(--text-heading);
    }
  }
}
