/* inputs - definindo propriedades dos tipos de inputs */
input,
textarea {
  appearance: none;
  width: 100%;
  padding: 0.8125rem;

  background-color: var(--input-base);
  color: var(--text-heading);

  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;

  outline: 1px solid transparent;

  font: var(--text);

  /* input - placeholder: definindo propriedades para o placeholder que é antes do usuario selecionar campo */
  &::placeholder,
  &::placeholder {
    color: var(--input-placeholder);
  }
}

/* input - focus: definindo outline para quando o usuario tiver selecionado o campo que irá preencher */
input:focus,
textarea:focus {
  outline: 1px solid var(--brand-light);
}

/* input datetime-local: criando placeholder e definindo propriedades  */
input[type="datetime-local"] {
  text-transform: uppercase;

  &:invalid {
    color: var(--input-placeholder);
  }
}

label {
  font: var(--text-sm);
  margin-bottom: 0.75rem;
  display: block;

  color: var(--text-body);
}

/* inputs: aplicando propriedades no input com id=name e type=datetime-local - propriedades em required/valid e error */
.input-wrapper {
  position: relative;

  & > .style-file {
    display: grid;
    grid-template-columns: 31.42% 68.58%;
    gap: 1rem;
  }

  & input[id="name"] {
    &:invalid {
      border: 1px solid var(--danger);
    }

    &:required + .error {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font: 400 0.75rem/100% var(--font-family-open-sans);
      color: var(--danger);

      margin-top: 0.5rem;
    }

    &:not(:focus):valid + .error {
      border: 1px solid var(--danger);
      display: none;
    }
  }

  & input[type="datetime-local"] {
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }
}
